html,
body{
 
}
.main{
  flex-grow: 1;
}
.body{
  font-size: 15px;
  line-height: 12px;
  @extend %rubik-400;
  color: $default-color;
  
}
.header{
  margin: 0;
}
footer,
.main{
  display: block;
}

.container{
 max-width: 1770px;
 
 margin: 0 auto;
}
.container-content{

 max-width: 1170px;
 padding-left: 15px;
 padding-right: 15px;
 
 margin: 0 auto;


}
.container-content1{
  max-width: 1250px;
 padding-left: 15px;
 padding-right: 15px;
 
 margin: 0 auto;
}



