@import "vars";
@import "fonts";
@import "reset";
@import "plagins";
@import "global";

.header {
  padding: 40px 0;
  &__logo {
    display: flex;
    text-align: center;
    align-items: center;
    left: 0;
  }
  &__logo-text {
    font-size: 36px;
    line-height: 58px;
    @extend %rubik-500;
    color: $default-color;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  &-item a {
    color: $default-color;
    text-decoration: none;
  }
  &-link {
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-400;
  }
}
.menu__list-item + .menu__list-item {
  padding-left: 30px;
}
.haeder__novigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
}
.h__n-i4 {
  background-color: #a3bbc8;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.h__n-i1 {
  background-color: #edf1f4;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
}
.h__n-i3,
.h__n-i2 {
  background-color: #fcd7b6;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.haeder__novigation-items {
  display: flex;
  padding: 0 40px;
  border-radius: 25px;
  background-color: rgb(252, 215, 182);
  background-repeat: no-repeat;
  justify-content: space-between;
  margin-right: 20px;
  .h__n-i2 {
    padding-right: 20px;
    position: relative;
  }
  .h__n-i2::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 35px;
    background-color: #fde7d3;
    right: 0;
  }
  .h__n-i3 {
    padding-left: 20px;
  }
}
.Rectangle_31 {
  position: absolute;
  left: 1599px;
  top: 48px;
  width: 178px;
  height: 51px;
  z-index: 259;
}

.h__n-i__num {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  top: 4px;
  right: 4px;
  font-size: 10px;
  line-height: 20px;
  @extend %dmsans-400;
}
.footer__top {
  display: flex;
  margin: 100px 0 70px;
  justify-content: space-between;
  &-item1 {
    max-width: 200px;
  }
  &-item4 {
    max-width: 270px;
  }
  &-item_list-link {
    text-decoration: none;
    color: rgb(123, 123, 123);
    font-size: 14px;
    @extend %rubik-400;
  }
  &-item_list-item {
    padding-top: 20px;
  }
  &-item_title {
    font-size: 16px;
    color: rgb(31, 32, 68);
    text-transform: uppercase;
    @extend %dmsans-700;
    padding-top: 33px;
  }
}
.footer__top-item_titleh {
  padding-top: 33px;
  font-size: 16px;
  color: rgb(31, 32, 68);
  text-transform: uppercase;
  @extend %dmsans-700;
  text-decoration: none;
}
.footer__top-item4 p {
  text-decoration: none;
  color: rgb(123, 123, 123);
  font-size: 14px;
  @extend %rubik-400;
  padding: 20px 0 40px;
}
.footer__input {
  height: 38px;
  max-width: 170px;
  border: none;
  background-color: rgb(252, 215, 182);
  padding: 12px 15px 12px 18px;
  &::placeholder {
    color: #234969;
  }
}
.footer__btn {
  background-color: rgb(163, 187, 200);
  max-width: 100px;
  height: 38px;
  border: none;
  font-size: 14px;
  @extend %dmsans-400;
  color: rgb(255, 255, 255);
}
.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 40px;
}
.footer__bottom {
  border-top: 1px solid rgb(163, 187, 200);
  &-list {
    display: flex;
  }
}
.footer__copy,
.f__b-list-link {
  color: rgb(123, 123, 123);
  font-size: 14px;
  @extend %rubik-400;
  padding-right: 15px;
  border-right: 1px solid rgb(123, 123, 123);
  border-left: 1px solid rgb(123, 123, 123);
}
.f__b-list-link1 {
  border-left: none;
}
.f__b-list-link4 {
  border-right: none;
}
.f__b-list-link4,
.f__b-list-link2,
.f__b-list-link3 {
  padding-left: 20px;
}
.top__slider {
  background-image: url("../images/slaider/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  &-content-inner {
    display: flex !important;
    justify-content: space-between;
  }
  &-content {
    max-height: 820px;
  }
  &-content_rignt {
    max-width: 530px;
  }
  &-title {
    padding: 220px 0 45px;
    font-size: 72px;
    @extend %rubik-500;
    color: rgb(36, 63, 77);
    line-height: 70px;
  }
  &-text {
    padding-bottom: 40px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(36, 63, 77);
    max-width: 370px;
  }

  &-btn {
    background-color: rgb(163, 187, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    padding: 20px 30px;
    color: #fff;
    margin-bottom: 200px;
    margin-left: 3px;
  }
  &-btn img {
    width: 30px;
    height: 10px;
    margin-left: 42px;
  }
  &-content_left {
    display: flex;
    align-items: center;
    height: 800px;
    margin-left: 1px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li {
      button {
        padding: 0;
        background-color: #fff;
        opacity: 0.3;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 6px;
        font-size: 15px;
        @extend %rubik-500;
        color: rgb(36, 63, 77);
      }
    }
    li.slick-active {
      button {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}
.top__slider-content-inner {
  max-height: 750px;
  max-width: 1170px;
}
.top__slider-inner {
  max-height: 820px;
}
.slider__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fef7f0;
  height: 175px;
  margin-top: 20px;
  margin-bottom: 60px;
  &-item {
    display: flex;
    align-items: center;
    & svg {
      margin-bottom: 20px;
    }
  }
  &-text {
    padding-left: 25px;
  }
}
.sider__bottom-title {
  font-size: 18px;
  @extend %dmsans-700;
  color: rgb(65, 65, 65);
  line-height: 2.222;
}
.slider__bottom-subtext {
  font-size: 16px;
  @extend %dmsans-400;
  color: rgb(88, 88, 88);
  line-height: 1.875;
}
.products {
  &__inner {
    margin: 0 auto;
    max-width: 1120px;
  }
  .title-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
  }
  &__menu {
    display: flex;
  }
  &__title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 36px;
    @extend %dmsans-700;
    color: rgb(25, 25, 25);
    line-height: 1.2;
    cursor: pointer;
  }
  &__menu-item {
    font-size: 16px;
    @extend %dmsans-700;
    color: rgb(26, 26, 26);
    line-height: 1.2;
  }
  &__menu-item button {
    border: none;
    background-color: transparent;
    color: #8b8b8b;
  }
  &__menu-item button:focus {
    color: rgb(25, 25, 25);
  }
  .products__menu-item + .products__menu-item {
    margin-left: 30px;
  }
}
.slider__bottom {
  margin-top: 0;
}
.products__inner {
  &-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    padding-bottom: 150px;
  }
  &-item {
    max-width: 270px;

    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &-images {
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    &:hover {
      .products__inner-item__hover {
        opacity: 1;
      }
    }
  }
  &-item__hover {
    position: absolute;
    display: flex;
    transition: all 0.3s;
    opacity: 0;
    bottom: 25px;
  }

  &-item__hover-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: all 0.3s;
    &:hover {
      background-color: rgb(163, 187, 200);
      & path {
        fill: rgb(255, 255, 255);
      }
    }
  }
  &-item-title {
    font-size: 16px;
    @extend %dmsans-500;
    color: rgb(36, 63, 77);
    line-height: 2.5;
  }
  &-item-cost {
    font-size: 16px;
    @extend %dmsans-700;
    color: rgb(163, 187, 200);
    font-weight: bold;
    line-height: 2.5;
    padding-bottom: 32px;
  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px 0;
  }
}
.footer__copy {
  border: none;
}
.product__bottom {
  display: flex;
  &-left {
    padding: 95px 150px 95px 385px;
    background-color: #feefe2;
    margin-right: 30px;
    position: relative;
    left: 0;
  }
  &-right {
    padding: 95px 145px 95px 385px;
    background-color: #feefe2;
    position: relative;
    right: 0;
  }
  &-left-img {
    position: absolute;
    left: 15%;
    bottom: 85px;
  }
  &__text-title {
    padding-bottom: 35px;
    font-size: 26px;
    color: rgb(36, 63, 77);
    @extend %dmsans-700;
    line-height: 1.231;
  }
  &__text-text {
    padding-bottom: 35px;
    font-size: 16px;
    @extend %rubik-400;
    color: #243f4d;
    line-height: 1.875;
  }
  &__text-link {
    border-style: solid;
    border-width: 1px;
    border-color: #436372;
    border-radius: 5px;
    background-color: rgba(36, 63, 77, 0);
    opacity: 0.4;
    display: inline-block;
    padding: 20px 80px 20px 20px;
    position: relative;
    font-size: 15px;
    @extend %rubik-400;
    color: rgb(67, 99, 114);
  }
  .product__bottom__text-link::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 10px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    right: 20px;
    top: 40%;
  }
}
.title-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.design {
  &__inner {
    display: grid;
    grid-gap: 30px 40px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 120px;
    &-item {
      background-image: url("../images/design/1.png");
      max-width: 370px;
    }
    &-item-title {
      font-size: 20px;
      @extend %dmsans-700;
      color: rgb(26, 26, 26);
      line-height: 1.2;
      padding: 45px 155px 20px 35px;
    }
    &-item-subtext {
      padding: 0 280px 135px 35px;
      font-size: 16px;
      @extend %dmsans-700;
      color: rgb(163, 187, 200);
      line-height: 1.2;
    }
  }
  &__inner-item-1 {
    background-image: url("../images/design/1.png");
  }
  &__inner-item-2 {
    background-image: url("../images/design/2.png");
  }
  &__inner-item-3 {
    background-image: url("../images/design/3.png");
  }
  &__inner-item-4 {
    background-image: url("../images/design/4.png");
  }
  &__inner-item-5 {
    background-image: url("../images/design/5.png");
  }
  &__inner-item-6 {
    background-image: url("../images/design/6.png");
  }
  &__video {
    margin-bottom: 200px;
    background-image: url("../images/design/bgi.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  &__video-btn {
    display: flex;
    justify-content: center;
    padding: 185px 0;
  }
}
.articles__title {
  position: relative;
  &-rignt {
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 50px;
    font-size: 36px;
    @extend %dmsans-700;
    color: rgb(26, 26, 26);

    line-height: 1.2;
  }
  &-left {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 50px;
    font-size: 16px;
    @extend %dmsans-700;
    color: rgb(38, 38, 38);
    line-height: 1.2;
  }
  &-left::after {
    content: "";
    position: absolute;
    right: -25px;
    bottom: 0px;
    width: 10px;
    height: 15px;
    background-image: url("../images/articles/arrows.svg");
    background-repeat: no-repeat;
  }
}
.articles__top {
  &-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &-inner-item {
    max-width: 370px;
    position: relative;
  }
  &-inner-text {
    position: absolute;
    left: 25px;
    bottom: -15px;
    background-color: rgb(163, 187, 200);
    border-radius: 25px;
  }

  &-inner-text p {
    padding: 10px 30px;
    font-size: 14px;
    @extend %poppins-700;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.429;
  }
}
.articles__bottom {
  background-color: #fef7f0;
  &-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 90px;
  }
  &-item {
    padding: 0 30px;
    min-width: 370px;
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
    &-text {
      font-size: 18px;
      @extend %dmsans-500;
      color: rgb(38, 38, 38);
      line-height: 1.2;
      padding-bottom: 20px;
      border-bottom: 2px solid #e0e0e0;
    }
  }
}
.Rectangle_1 {
  background-color: #e0e0e0;
  position: absolute;
  left: 403px;
  top: 4709px;
  width: 315px;
  height: 1px;
  z-index: 52;
}

.articles__bottom-item-subtext1,
.articles__bottom-item-subtext2 {
  display: inline-block;
  font-size: 12px;
  @extend %rubik-400;
  color: rgb(34, 41, 51);
  line-height: 2.5;
  padding-top: 20px;
}
.articles__bottom-item-subtext2 {
  margin-left: 30px;
}
.articles__sponsors {
  padding-bottom: 90px;
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-list-item-img {
    display: inline-block;
  }
}
.articles__sponsors-list-item + .articles__sponsors-list-item {
  padding-left: 100px;
}
.breadcrumbs {
  margin-bottom: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf1f4;
  &__title {
    padding-top: 35px;
    padding-bottom: 15px;
  }
  &__list {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  &__list-item {
    &:last-child {
      display: none;
    }
    display: flex;
  }
  &__list-item-inner {
    position: relative;
    padding-bottom: 35px;
  }
  &__list-item--after {
    display: inline-block;
    padding: 0 10px;
  }
}
.log-in {
  & input {
    width: 100%;
    padding: 10px;
    margin: 15px 0 30px;
    border-width: 2px;
    border-color: rgb(246, 246, 246);
    border-style: solid;
  }
  max-width: 470px;
  margin: 0 auto;
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__checkbox {
    margin: 0 !important;
    width: auto !important;
  }
  &__btn {
    display: flex;
    justify-content: center;
    background-color: #a3bbc8;
    color: white;
    margin-bottom: 35px;
    & p {
      padding: 20px 0;
      display: inline-block;
      margin: 0 auto;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(246, 246, 246);
  }
  &__register {
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
      padding-bottom: 30px;
    }
    &-btn {
      padding: 20px 150px;
      background-color: #fff;
      border-width: 2px;
      border-color: rgb(163, 187, 200);
      border-style: solid;
    }
  }
}
.about__bottom{
  padding-bottom: 200px;
}
.about__top {
  display: flex;
  padding-bottom: 125px;
  &-text {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
  }
  &-text-top {
    & p {
      font-size: 140px;
      line-height: 32px;
      padding-right: 30px;
    }
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 45px;
  }
  &-list-item {
    padding: 8px 0;
  }
  &-title {
    & h2 {
      font-size: 36px;
      line-height: 32px;
      color: rgb(36, 63, 77);
      padding-bottom: 45px;
    }
    & p {
      padding-bottom: 70px;
      border-bottom: 2px solid #e6eaf0;
    }
  }
  &-achive {
    margin-top: 40px;
    display: flex;
    padding: 0 20px;
  }
  &-achive-item {
    display: flex;
    padding-right: 50px;
    &__count {
      font-size: 36px;
      line-height: 38px;
      padding-bottom: 10px;
    }
    &__count-about {
      font-size: 16px;
      line-height: 17px;
    }
  }
  &-achive-item-inner {
    display: flex;
    flex-direction: column;
  }
}
.about__middle {
  background-color: #fcd7b6;
  margin-bottom: 120px;
  &-items {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 85px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-item img {
    display: inline-block;
    margin: auto auto;
    padding-bottom: 25px;
  }
}
.about__middle-item-count {
  padding-bottom: 20px;
}
.about__bottom {
  padding-bottom: 270px;
  display: flex;
  &-left {
    max-width: 300px;
    margin-right: 100px;
    margin-left: 15px;
  }
  &-left-text {
  }
  &-left-link {
    color: white;
    background-color: #a3bbc8;
    padding: 15px 50px 15px 10px;
    display: inline-block;
    margin-top: 40px;
    position: relative;
    &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 10px;
    background-image: url("../images/about/arrow.svg");
    background-repeat: no-repeat;
    right: 10px;
    top: 40%;
  }
  }
  &-left-ttile {
    padding: 5px 0 35px;
  }
}
.about__bottom-rignt{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap: 100px 30px;
  background-color: #fcfcfc;
  &__item-img{
    position: relative ;
  }
  &__item-block{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: -47px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__item-images{
    display: flex;
    padding: 35px 0;
    padding-left: 60px;
    padding-right: 20px;
  }
  &__item-text{
    padding-left: 25px;
    & h6{
      line-height: 26px;
      font-size: 22px;
      padding-bottom: 25px;
    }
    & p{
      line-height: 30px;
      font-size: 16px;
    }
  }
}
.terms__inner{
  padding-bottom: 100px;
  &-title{
  font-size: 24px;
  font-family: "Rubik";
  color: rgb(36, 63, 77);
  line-height: 1.667;

  }
&-text{
  padding-top: 40px;
  display: flex;
  &-num{
    padding-right:10px ;
  }
}
}
@import "media";
